@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
  --body-bg-color: hsl(30, 38%, 92%);
  --button-bg-color: hsl(158, 36%, 37%);
  --button-hover: hsl(158, 36%, 27%);
  --header-color: hsl(212, 21%, 14%);
  --paragraph-color: hsl(228, 12%, 48%);
  --bg-color: hsl(0, 0%, 100%);
  --radius: 12px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-bg-color);
}

.container{
  width: 90vw;
}

#desktop-img{
  display: none;
}

#mobile-img{
  width: 100%;
  border-radius: var(--radius) var(--radius) 0 0;
}

.product-info{
  margin-top: -1rem;
  padding: 2rem 1.2rem;
  background-color: var(--bg-color);
  border-radius: 0 0 var(--radius) var(--radius);
}

#perfume,
#description{
  color: var(--paragraph-color);
  padding-top: calc(var(--radius)/2);
  padding-bottom: var(--radius);
}

#perfume{
  letter-spacing: .4rem;
}

h1,
.new-price{
  font-family: 'Fraunces', serif;
}

#description{
  line-height: 1.7rem;
}

.product-price{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: var(--radius);
}

.new-price{
  margin-right: var(--radius);
  font-size: 2rem;
  color: var(--button-bg-color);
}

.old-price{
  color: var(--paragraph-color);
  font-size: 15px;
  text-decoration: line-through;
}

#btn{
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--body-bg-color);
  transition: .4s;
  border-radius: var(--radius);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

#btn:hover{
  background-color: var(--button-hover);
}

@media screen and (min-width: 650px) {
  #mobile-img{
    display: none;
  }

  main{
    max-width: 1440px;
  }

  .container{
    width: 600px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  
  #desktop-img{
    display: flex;
    width: 100%;
    border-radius: var(--radius)0 0 var(--radius);
  }
  
  .product-info{
    width: 100%;
    margin-top: 0;
    padding: 2rem 1.2rem;
    background-color: var(--bg-color);
    border-radius: 0 var(--radius) var(--radius) 0;
  }
}